article(data-role='login')
  h1 Identifiez-vous
  p L'accès aux données est restreint.
  form
    input(type='text', name='username', placeholder='Votre email')
    input(type='password', name='password', placeholder='Votre mot de passe')
    button(type='submit') Je m'identifie pour accéder aux données
