@import 'nib'
@import '/client/styles/*.import'

article[data-role='login']
  size 100% 100%
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content center
  align-content center
  align-items center
  main
    animation-name fadeInDown
    longAnimation()
    padding 25px
    border-radius roundCorner
    border 1px solid brandColor
    box-shadow 0 0 5px lighten(brandColor, 50%) inset
    size 450px auto
    h1
      text-align center
      margin 0
    form > span, button
      margin-top 2em
      width 100%
    button
      &:before
        content '\f08b'
