article(data-role='not-found')
  h1 Questionnaire inconnu
  p Hummm... Vous aviez quelque chose en tête ?
  p 
    | Je vous propose de
    a(href="{{pathFor 'home'}}") raccrocher le fil
    | de vos pensées.
