@import 'jeet'
@import '/client/styles/*.import'

[data-role='survey']
  .d3-chart-fixed-height
    center(400px)
  .d3-svg-container
    display inline-block
    position relative
    width 100%
    padding-bottom 50%
    vertical-align middle
    overflow hidden
    height inherit
  .d3-svg-content
    display inline-block
    absolute top 0 left 0
    height inherit
    border-bottom 1px solid brandColor
  text
    stroke none
    &.legend, &.graph-title
      fill brandColor
    &.graph-title
      font-size 18px
      font-weight bold
