@import 'nib'
@import '/client/styles/*.import'

aside[data-role='alert']
  main
    cursor pointer
    size 300px 50px
    background-color bgColor
    border 1px solid brandDanger
    border-top 5px solid brandDanger
    fixed bottom 10px left 10px
    z-index 1000
    box-shadow 0 0 5px brandDanger
    padding 5px
    border-radius 3px
    user-select none
    h1
      font-size 14px
      margin 0
      color brandDanger
    p
      font-size 12px
      margin 0
      color brandColor
