@import 'jeet'
@import '/client/styles/colors.import'
@import '/client/styles/animations.import'
@import '/client/styles/fonts.import'

button
  button()
  transition all defaultTransitionValue
  hover-darken()
  color bgColor
  background-color brandPrimary
  &:focus
    color bgColor
    background-color brandPrimary
