@import 'jeet'
@import '/client/styles/*.import'

input, button
  margin-top 1.5em
  box-sizing border-box
  outline none
  border none
  transition all defaultTransitionValue
  &:focus, &:active
    box-shadow 0 2px 0 lighten(brandColor, 50%)
input
  background-color bgColor
  border-bottom 1px solid brandColor
  &::placeholder
    transition color defaultTransitionValue
    color brandColor
  &:focus::placeholder
    color lighten(brandColor, 50%)
button
  button()
  transition all defaultTransitionValue
  hover-darken()
  color bgColor !important
  background-color brandPrimary
  margin-top 2em
  border 1px solid brandColor
  position relative
  display inline-block
  padding-left 65px
  &:focus
    color bgColor
    background-color brandPrimary
    color white !important
  &:before
    absolute top left
    padding 0
    line-height 180%
    font-size 140%
    size 45px 100%
    color brandColor
    background-color lighten(brandColor, 50%)
    border-top-left-radius 2px
    border-bottom-left-radius 2px
    font-family FontAwesome
    content '\f08b'
    transition all defaultTransitionValue
  &:hover
    transition all defaultTransitionValue
    border 1px solid darken(brandColor, 30%)
    &:before
      transition all defaultTransitionValue
      width 55px
      color darken(brandColor, 30%)
